// 侧边栏
$menuFontSize: 17px;
$menuFontWeight: 400;
$sidebarCollapseWidth: 64px;

// 顶部导航
$narBarHeight: 50px;
$tagsVeiwHeight: 39px;

// AppMain
$appMainPadding: 15px;
$appMainPadding-mobile: 0px;


// 屏幕断点
$mobile-breakpoint: 375px + 1px;
//  @media (max-width: $mobile-breakpoint) 小于等于375px
$pad-breakpoint: 768px + 1px;
$pc-breakpoint: 1024px + 1px;

