.search-page {
  width: 100%;
  min-height: 100vh;
  background: var(--theme-bg-layout);
  padding-top: 80px;

  .search-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }
}
