.category-nav {
  margin: 0 auto;
  position: relative;
  padding-left: 44px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--theme-divider);

  .category-all-icon {
    // background-color: skyblue;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    cursor: pointer;
    transition: all 0.3s ease;
    padding-right: 12px;
    border-right: 1px solid var(--theme-divider);

    .ant-select {
      opacity: 0;
      width: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: -1;
    }
  }

  .category-all-icon-active {
    color: var(--theme-primary);
  }

  .category-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    min-height: 50px;
    align-items: center;

    .category-item {
      position: relative;
      padding: 12px;
      cursor: pointer;
      transition: all 0.3s ease;

      .category-name {
        position: relative;
        color: var(--theme-text-primary);
        font-size: 16px;
        transition: all 0.3s ease;
        font-weight: 500;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 0;
        height: 2px;
        background: var(--theme-gradient-primary);
        transition: width 0.3s ease;
      }

      .ant-select {
        z-index: -1;
        opacity: 0;
        width: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }

    .active-category-item {
      .category-name {
        color: var(--theme-primary);
      }

      &::after {
        width: 100%;
      }
    }
  }
}
