.category-nav {
  margin: 0 auto;
  position: relative;
  padding-left: 32px;

  .category-all-icon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    cursor: pointer;

    .ant-select {
      opacity: 0;
      width: 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: -1;
    }
  }

  .category-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;

    .category-item {
      position: relative;
      padding: 12px;
      cursor: pointer;
      transition: all 0.3s ease;

      .category-name {
        color: var(--theme-text-primary);
        font-size: 16px;
        transition: all 0.3s ease;
      }

      .ant-select {
        z-index: -1;
        opacity: 0;
        width: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &:hover {
        .category-name {
          color: var(--theme-primary);
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
